$maxMobile:"(min-width:767px)";
$minSmall:"(max-width:768px)";
$maxSmall:"(max-width:991px)";
$minMedin:"(min-width:992px)";
$minLarge:"(min-width:1200px)";

$reColor:#e2494c;
$greyColor:#9c9c9c;
$float-left:left; 
$float-right: right; 

